/* ===== Reset básico ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Estilo general de la página ===== */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ===== Primera sección (¿Lista para ver tu carta?) ===== */
.hero {
  background-image: url("Presentacion Navidad Proyecto Creativo Infantil Ilustrado Rojo Beige.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

/* ===== Texto principal ===== */
.hero h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}
